.wrapper-div-3121074 {
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.additional-15-o-3121075-0 {
  font-size: 11px;

  line-height: 12px;

  font-family: Sansation;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}
